In [10]:
query = "SELECT COUNT(*) FROM movies"
df = pd.read_sql(query, engine)
print(df)

   count
0   9742

In [11]:
query = """
SELECT genre, COUNT(*) as count
FROM (
    SELECT unnest(string_to_array(movies.genres, '|')) as genre
    FROM movies
) AS genres
GROUP BY genre
ORDER BY count DESC
LIMIT 1
"""
df = pd.read_sql(query, engine)
print(df)

   genre  count
0  Drama   4361

In [12]:
query = """
SELECT movies.title, AVG(ratings.rating) as avg_rating
FROM ratings
JOIN movies ON ratings."movieId" = movies."movieId"
GROUP BY movies.title
ORDER BY avg_rating DESC
LIMIT 10
"""
df = pd.read_sql(query, engine)
print(df)

                                            title  avg_rating
0                           Brother (Brat) (1997)         5.0
1                                      Eva (2011)         5.0
2       Go for Zucker! (Alles auf Zucker!) (2004)         5.0
3                              Holy Motors (2012)         5.0
4                              Connections (1978)         5.0
5                  Watching the Detectives (2007)         5.0
6                         Girls About Town (1931)         5.0
7  Story of Women (Affaire de femmes, Une) (1988)         5.0
8                Nasu: Summer in Andalusia (2003)         5.0
9                           Into the Woods (1991)         5.0

In [13]:
query = """
SELECT "userId", COUNT(*) as rating_count
FROM ratings
GROUP BY "userId"
ORDER BY rating_count DESC
LIMIT 5
"""
df = pd.read_sql(query, engine)
print(df)

   userId  rating_count
0     414          2698
1     599          2478
2     474          2108
3     448          1864
4     274          1346

In [14]:
query = """
SELECT 
    MIN(ratings.timestamp) as first_rating, 
    MAX(ratings.timestamp) as last_rating,
    (SELECT title FROM movies WHERE "movieId" = (SELECT "movieId" FROM ratings ORDER BY timestamp ASC LIMIT 1)) as first_movie,
    (SELECT title FROM movies WHERE "movieId" = (SELECT "movieId" FROM ratings ORDER BY timestamp DESC LIMIT 1)) as last_movie
FROM ratings
"""
df = pd.read_sql(query, engine)
print(df)

   first_rating  last_rating     first_movie    last_movie
0     828124615   1537799250  Copycat (1995)  Crumb (1994)

In [17]:
query = """
SELECT title
FROM movies
WHERE title LIKE '%%(1990)%%'
"""
df = pd.read_sql(query, engine)
print(df)

                                                 title
0                                    Home Alone (1990)
1                                         Ghost (1990)
2                            Dances with Wolves (1990)
3                                  Pretty Woman (1990)
4                               Days of Thunder (1990)
..                                                 ...
142  Dragon Ball Z: Bardock - The Father of Goku (D...
143               I Bought a Vampire Motorcycle (1990)
144                                Maniac Cop 2 (1990)
145                          Jetsons: The Movie (1990)
146                         The Forbidden Dance (1990)

[147 rows x 1 columns]